/********************************
    Reset CSS
********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    outline: 0;
}
/********************************
    Border Box
********************************/
* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/********************************
    12 Column Grid
********************************/
.col-1 {width: 95px;}
.col-2 {width: 190px;}
.col-3 {width: 285px}
.col-4 {width: 380px;}
.col-5 {width: 475px;}
.col-6 {width: 570px;}
.col-7 {width: 665px;}
.col-8 {width: 760px;}
.col-9 {width: 855px;}
.col-10 {width: 950px;}
.col-11 {width: 1045px;}
.col-12 {width: 1140px;}

/*service classes*/
.wrapper {
    margin: 0 auto;
}
.block-element {
    display: block;
}
.float-left,
.float-right {
    position: relative;
    display: block;
    float: left;
}
.float-right {
    float: right;
}
/*header*/
.header {
   padding: 70px 0 0 0;
}
.holding-nav-logo {
    margin: 0 0 69px 0;
}
.logo {
    width: 104px;
    height: 24px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.main-nav-link {
    display: inline-block;
    padding: 0px 0px 0px 20px;
    margin: 0 0 0 11px;
    font-size: 18px;
    line-height: 1.3;
    color: #989898;
}
/*------------------------------------*/
/*Image slider attempt*/
/*.slideshow-container {
  max-width: 1140px;
  position: relative;
  margin: auto;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
/*------------------------------------*/
.slider {
    background: #ffe1bd;
    text-align: center;
    padding-top: 140px;
}
.rotated-slider-bullets {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 150px;
}
.slider-heading {
    display: block;
    margin: 0 0 50px 100px;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    color: #000000;
}
.line {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 29px auto 25px auto;
}
.slider-sub-heading {
    display: block;
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    margin: 0 0 80px 100px;
}
.main-button {
    display: inline-block;
    padding: 16px 32px 16px 33px;
    font-size: 18px;
    line-height: 1.3;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    background: #000000;
    margin: 0 0 108px;
}
/*------------------------------------*/
.we-do {
    padding: 87px 0 0;
    text-align: center;
}
.services {
    padding: 0 0 100px 0;
}
.we-do-heading {
    color: #000000;
    font-size: 60px;
    font-weight: normal;
    line-height: 0.8;
    margin-bottom: 99px;
}
.we-do-images {
    width: 560px;
    height: 560px;
    background-color: #e5e5e5;
}
.services-heading {
    font-size: 30px;
    text-align: left;
    margin-top: -8px;
}
.services-heading-bold {
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}
.divider {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 29px auto 28px auto;
    text-align: left;
}
.services-text-one {
    font-size: 18px;
    color: #656565;
    line-height: 1.5;
    text-align: left;
    padding: 0 0 37px 0;
}
.services-text-two {
    font-size: 18px;
    color: #656565;
    line-height: 1.5;
    text-align: left;
    padding: 0 0 49px 0;
}
.learn-more-button {
    display: inline-block;
    padding: 16px 37px 20px 38px;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 30px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}
.white-button {
    color: #000000;
    background: #ffffff;
}
.black-button {
    color: #ffffff;
    background: #000000;
    margin: 0 0 50px 0;
}
.padding {
    padding: 0 0 86px 0;
}
/*------------------------------------*/
.our-work-heading {
    color: #000000;
    font-size: 60px;
    font-weight: normal;
    line-height: 0.8;
    margin-bottom: 100px;
    text-align: center;
}
.our-work-container {
    display: block;
    padding: 0 0 50px 0;
    font-size: 0;
}
.image-container{
    width: 364px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding-right: 16px;
    margin-bottom: 16px;
}
.image-container img {
    width: 100%;
    height: 364px;
    display: block;
    background-color: #e5e5e5;
}
.height img{
    height: 590px;
}
/*------------------------------------*/
.our-team {
    background: #ffe1bd;
    padding: 86px 0 100px 0;
    text-align: center;
}
.our-team-heading {
    padding: 0 0 101px 0;
    font-size: 60px;
    font-weight: normal;
    line-height: 0.8;
    color: #000000;
}
.black-arrow {
    top: 60px;
}
.white-arrow {
    top: 60px;
}
.team-members {
    left: 70px;
}
.team-member {
    padding: 0 63px;
}
.name {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
}
.info-divider {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 12px auto 15px auto;
}
.member-info {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 50px;
}
.base {
    border-radius: 50%;
    width: 168px;
    height: 168px;
    margin-bottom: 20px;
}
.photo {
    width: 100%;
    height: 168px;
    border-radius: 50%;
    background-color: #ffffff;
}
.slider-bullet-black {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #000000;
    display: inline-block;
    margin: 0 8.5px;
}
.slider-bullet {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    display: inline-block;
    margin: 0 8.5px;
}
/*--------------------------------*/
.our-clients {
    padding: 85px 0 100px 0;
    text-align: center;
}
.our-clients-heading {
    padding: 0 0 75px 0;
    font-size: 60px;
    font-weight: normal;
    line-height: 0.8;
    color: #000000;
}
.clients {
    text-align: right;
    padding-right: 83px;
}
.testimonials {
    text-align: left;
    padding: 13px 0 0 0;
}
.testimonials-text {
    font-size: 18px;
    color: #656565;
    line-height: 1.5;
    text-align: left;
}
.client-divider {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: 19px auto 15px auto;
}
.job-info {
    font-size: 18px;
    line-height: 1.3;
}
.testimonials-images {
    padding: 78px 0 82px 0;
}
div.testimonial-image-container:last-child {
    box-sizing: content-box;
    padding-right: 0px;
    width: 266px;
}
.testimonials-image {
    width: 100%;
    height: 140px;
    background-color: #e5e5e5;
}
.testimonial-image-container {
    padding-right: 19px;
}
/*--------------------------------*/
.get-in-touch {
    background: #000000;
    padding: 87px 0 93px 0;
    text-align: center;
}
.get-in-touch-heading {
    font-size: 60px;
    font-weight: normal;
    line-height: 0.8;
    color: #ffffff;
}
.contacts {
    padding: 97px 0 0 0;
    text-align: left;
}
.contact-details {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    left: 22px;
    top: -6px;
}
.address {
    padding-bottom: 47px;
}
.phone {
    padding-bottom: 47px;
}
.mail {
    padding-bottom: 47px;
}
.contact-facebook {
    background: url(../images/facebook.png);
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
}
.contact-twitter {
    background: url(../images/twitter.png);
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
}
.contact-googleplus {
    background: url(../images/googleplus.png);
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
}
.contact-pinterest {
    background: url(../images/pinterest.png);
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
}
.contact-instagram {
    background: url(../images/instagram.png);
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
}
.calendar {
    background-color: #ffffff;
    height: 391px;
    margin: 75px 0 0 0;
}
/*-----------------------------*/
.footer {
    padding: 46px 0 47px 0;
    text-align: center;
}
.copyright-company {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.3;
}
.copyright {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    font-weight: normal;
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 960px) {
 /*   .col-3 {width: 50%;}*/
    .col-5 {width: 75%; float: none; margin: 0 auto;}
    .col-6 {width: 100%;}
    .col-12 {width: 100%;}
    html, body {max-width: 100%; overflow-x: hidden;}
    .services-heading {text-align: center;}
    .services-heading-bold {text-align: center;}
    .divider {float: none;}
    .services-image-container {float: none; width: 75%; margin: auto;}
    .white-button {float: none; margin-bottom: 20px;}
    .team-members {left: 10px;}
    .black-arrow {top: 115px;}
    .white-arrow {top: -335px;}
    .testimonials {float: none;}
    .clients {padding-right: 0; text-align: center;}
    .job-info {float: none; padding-bottom: 20px;}
    .client-divider {float: none;}
    .testimonials-images {padding-left: 50px;}
    .testimonial-image-container {padding: 0 19px 19px 0;}
}
@media screen and (max-width: 760px) {
    .col-5 {width: 100%; padding: 0 10px 0}
    .col-6 {width: 100%;}
    .col-12 {width: 100%;}
    .white-arrow {top: -732px;}
    .team-members {left: 80px;}
    .testimonials-images {padding-left: 105px;}
    .testimonial-image-container {padding: 0 19px 19px 0;}
    .contacts {padding: 97px 0 10px;}
}